.addCustomerModal{
    width: 600px;
    max-width: 100%;
    text-align: center;

}

.addCustomerModal{
    display:none;
    position: fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(70, 70, 70, 0.5);

}
